section#home_background{
    width: 100%;
    height: auto;
    background: url('../../assets/opn_01_home/home_background.jpg') no-repeat;
    background-size: cover;
}
section#home_background::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    background: linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,.3) 100%);
    top: 0;
    left: 0;
}

section#home_background .section_container{ padding: 80% 10% 30% 10%; }

#home_background .section_container > *{ max-width: 380px; }

#home_made_cocktail .section_container .content{
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
}
