button{
    padding: 10px 30px;
    border: none;
    transition: .3s ease;
}

button.white{
    background-color: #FFFFFF;
    color: #000000;
    overflow: hidden;
    border-radius: 50px;
}
button.white:hover{
    background-color: #DFB57B;
    color: #FFFFFF;
}

button.gold{
    background-color: #DFB57B;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 50px;
}

button.gold:hover{
    background-color: #FFFFFF;
    color: #DFB57B;
}

button.outerline{ border: 1px solid #231F10; }
button.outerline:hover{ border: 1px solid transparent; }


.tab_arrow{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
}
.arrow{
    background-color: #231F10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: all;
}
.arrow img{
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.arrow.left{
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.arrow.right{
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}
.arrow.right img{
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    -moz-transform: translate(-50%, -50%) scaleX(-1);
    -ms-transform: translate(-50%, -50%) scaleX(-1);
    -o-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
}
