footer input{
    background-color: transparent;
    height: 100%;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    align-self: center;
}

footer .articles::after{
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #E2E2E5;
}

footer .footer::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #6C6D72;
}

footer button.social{
    background-color: transparent;
    padding: 10px 0;
    border: 1px solid #DFB57B;
    border-radius: 3px;
    margin-right: 20px;
}

button.social:hover{ background-color: #FFFFFF; }
button.social:hover p{ color: #DFB57B; }

footer button.social .picto{ padding: 0 10px; }
footer button.social p{ padding-right: 80px; }
