header li{ position: relative; }
header li::after{
    content:'';
    position: absolute;
    transition: .3s ease;
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
}

header li.active::after{
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
header li.reversed::after{ transform-origin: right; }

#trigger_burger_menu{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.burger_menu{
    position: fixed;
    height: 100%;
    width: calc(100% - 60px);
    left: 0;
    top: 0;
    pointer-events: none;
}

.burger_menu .burger_menu_content{
    position: absolute;
    margin-top: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F6F6;
    transition: .3s ease;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    transform-origin: left;
}
#trigger_burger_menu:checked ~ .burger_menu{
    pointer-events: all;
}
#trigger_burger_menu:checked ~ .burger_menu > .burger_menu_content{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
#trigger_burger_menu:checked ~ .burger_menu > .close_burger_menu{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
    transition: .3s .3s ease;
}

.burger_menu_content::before{
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 1px;
    background-color: #E2E2E5;
}

.burger_menu_content ul > *:nth-child(2){
    border-bottom: 1px solid #E2E2E5;
}

.burger_menu_content .separator_line::before{
    top: 75%;
    left: 110%;
}

.close_burger_menu{
    position: absolute;
    display: flex;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    transition: .1s 0s ease;
}

.close_burger_menu img{
    margin: auto;
    display: block;
}
