.picto{
    width: 24px;
    height: 24px;
}

.picto.small{
    width: 16px;
    height: 16px;
}

.picto.big{
    width: 32px;
    height: 32px;
}

.picto.rounded{ border-radius: 50px; overflow: hidden; }

.picto.centered{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
