.slider{ overflow: scroll; }

.slider li{
    width: 8px;
    height: 8px;
    background-color: #E2E2E5;
    border-radius: 50px;
    display: inline-block;
}

.slider li.active{
    background-color: transparent;
    border: 4px solid #DFB57B;
}

.slider_nav{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider_content::after{
    content: '';
    position: absolute;
    display: block;
    width: 45%;
    height: 100%;
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
