.tabs[data-tab='1'] .tab_menu > *:nth-child(1){ border-bottom: solid 4px #DFB57B; }
.tabs[data-tab='2'] .tab_menu > *:nth-child(2){ border-bottom: solid 4px #DFB57B; }
.tabs[data-tab='3'] .tab_menu > *:nth-child(3){ border-bottom: solid 4px #DFB57B; }
.tabs[data-tab='4'] .tab_menu > *:nth-child(4){ border-bottom: solid 4px #DFB57B; }
.tab_menu > *{ z-index: 1; }
.tab_menu::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E2E2E5;
    bottom: 0px;
}

.tabs .tab_content .content{ display: none; }
.tabs[data-tab='1'] .tab_content > .content:nth-child(1){ display: flex; }
.tabs[data-tab='2'] .tab_content > .content:nth-child(2){ display: flex; }
.tabs[data-tab='3'] .tab_content > .content:nth-child(3){ display: flex; }
.tabs[data-tab='4'] .tab_content > .content:nth-child(4){ display: flex; }
