.white{ color: #FFFFFF; }
.gold{ color: #DFB57B; }
.lighter{ color: #F1F3F4; }
.dark_grey{ color: #8D8E93; }
.darker_grey{ color: #6C6D72; }

.bg_white{ background-color: #FFFFFF; }
.bg_lighter{ background-color: #F5F6F6; }
.bg_black{ background-color: #231F10; }
.bg_darker_grey{ background-color: #6C6D72; }
