h1{
    font-size: 32px;
    line-height: 38.4px;
    margin: 0;
    font-family: 'Canela', 'Times New Roman';
    font-weight: 400;
}

h2{
    font-size: 32px;
    line-height: 38px;
    font-family: 'Canela', 'Times New Roman';
    font-weight: 400;
    text-align: center;
}


p, span, input{
    font-family: 'Styrene', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

p.canela, span.canela{ font-family: 'Canela'; font-size: 18px; font-weight: 300; }
p.regular, span.regular{ font-weight: 400 }
p.medium, span.medium{ font-weight: 500 }
p.big, span.big{ font-size: 24px; }
p.small, span.small{ font-size: 11.5px; }
p.underline, span.underline{ text-decoration: underline; }
p.uppercase, span.uppercase{ text-transform: uppercase; }
p.centered, span.centered{ text-align: center; }

@font-face {
    font-family: 'Canela';
    src: url('../../fonts/Spectral-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url('../../fonts/Spectral-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url('../../fonts/Spectral-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('../../fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('../../fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
