/* I usually do the reset in the same balize but for the exercise,
I prefer comment and separate all the fixes. */

/* Remove margin/padding */
body{
    margin: 0;
    padding: 0;
}

/* Safari IOS Fix */
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
/* end Safari IOS fix */

/* Fix for IOS outline */
input, button{ outline: none; }
/* End fix for IOS outline */

ul, li{ list-style: none; }
a{ text-decoration: none; }
