.md-show{ display: none; }
.sm-flex{ display: none; }
.lg-show{ display: none; }
.lg-flex{ display: none; }
.lg-flex-row{ flex-direction: column; }
.lg-relative{ position: absolute; }

#home_made_cocktail > .section_container{ padding: 0; }

/* sm */
@media (min-width: 640px){
    .sm-w-inherit{ width: inherit; }
    p.sm-text-left{ text-align: left; }
    .sm-area-grid{ grid-template-columns: repeat(2, 1fr); }

    .sm-flex{ display: flex; }
    .sm-no-wrap{ flex-wrap: nowrap; }

    .sm-mt-0{ margin-top: 0px }
    .sm-mr-3{ margin-right: 30px }

    .flex.sm-flex-row{ flex-direction: row; }
}

/* md */
@media (min-width: 768px) {
    .md-hide{ display: none; }
    .md-show{ display: block; }

    .md-area-grid{ grid-template-columns: repeat(2, 1fr); }

    .picto.md-small{
        width: 16px;
        height: 16px;
    }

    body section#home_background{
        height: 100%;
    }
    #home_background .section_container:first-child{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    section#home_background div.section_container{  padding: 12% 12% 12% 12%; }

    #home_made_cocktail > .section_container{
        padding: 0 8%;
    }
}

/* lg */
@media (min-width: 1024px) {
    .lg-hide{ display: none; }
    .lg-show{ display: block; }
    .lg-flex{ display: flex; }
    .lg-block{ display: block; }

    .lg-area-grid{ grid-template-columns: repeat(4, 1fr); }

    .lg_bg_transparent{ background-color: transparent; }

    .flex.lg-flex-row{ flex-direction: row; }

    .lg-relative{ position: relative; }

    .lg-w-40{ width: 40% }

    .lg-bottom-inherit{ bottom: inherit; }
    .lg-left-inherit{ left: inherit; }

    .lg-order-1{ order: 1; }
    .lg-order-2{ order: 2; }
    .lg-order-3{ order: 3; }

    .lg-pt-0{ padding-top: 0px }
    .lg-pb-0{ padding-bottom: 0px }
    .lg-p-8{ padding: 80px; }
    .lg-pr-4{ padding-right: 40px }
    .lg-pl-4{ padding-left: 40px }

    h1{
        font-size: 64px;
        line-height: 76.8px;
        margin: 0;
        font-family: 'Canela', 'Times New Roman';
        font-weight: 400;
    }

    footer div.footer::after{
        top: 0%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        width: 1px;
        height: 100%;
    }
}

@media (min-width: 1280px) {
    .xl-area-grid{ grid-template-columns: repeat(4, 1fr); }
}
