body{ height: 100vh; width: 100vw; }
section{ width: 100%; }

/* POSITIONS */
.relative{ position: relative;}
.absolute{ position: absolute;}
/* END POSITIONS */

/* DISPLAY MODES */
.block{ display: block; }
.inline-block{ display: inline-block; }
.flex{ display: flex; }
.grid{ display: grid; }
.inline-box{ display: -webkit-inline-box; }
/* END DISPLAY MODES */

/* FLEX */
.flex.flex_column{ flex-direction: column; }
.space-between{ justify-content: space-between; }
.justify-center{ justify-content: center; }
.align-center{ align-items: center; }
.justify-center{ justify-content: center; }
.flex-1{ flex: 1; }
.flex-2{ flex: 2; }
.self-center{ align-self: center; }
.flex-wrap{ flex-wrap: wrap; }
/* END FLEX */

/* GRID */
.area-grid{ grid-template-columns: repeat(1, 1fr); }
.area-grid-2{ grid-template-columns: repeat(2, 1fr); }
.grid-gap-20{ grid-gap: 20px; }
/* END GRID */

/* OVERFLOW */
.overflow-hidden{ overflow: hidden; }
.overflow-scroll{ overflow: scroll; }
/* END OVERFLOW */

/* TRANSITION */
.transition-ease{ transition: .3s ease; }

.section_container{ padding: 0 8%; box-sizing: border-box; }
.section_container.flex{ justify-content: space-between; }
.separator_line::before{
    content: '';
    position: absolute;
    background-color: #DFB57B;
    width: 3px;
    height: 25px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(50%, -50%) rotate(35deg);
    -moz-transform: translate(50%, -50%) rotate(35deg);
    -ms-transform: translate(50%, -50%) rotate(35deg);
    -o-transform: translate(50%, -50%) rotate(35deg);
    transform: translate(50%, -50%) rotate(35deg);
}

/* Sizes */
.w-full{ width: 100%; }
.width-max-content{ width: max-content; }
.w-60vw{ width: 60vw; }
.w-200{ width: 200px; }

.h-full{ height: 100%; }
.object-cover{ object-fit: cover; }

.bottom-0{ bottom: 0; }
.left-full{ left: 100%; }

.border-box{ box-sizing: border-box; }

/* z-index */
.z-0{ z-index: 0;}
.z-1{ z-index: 1;}
.z-10{ z-index: 10;}

/* Margins */
.m-auto{ margin: auto; }
.m-0{ margin: 0; }
.m-1{ margin: 10px; }

.mt-1{ margin-top: 10px; }
.mt-2{ margin-top: 20px; }
.mt-3{ margin-top: 30px; }
.mt-5{ margin-top: 50px; }

.mb-0{ margin-bottom: 0px; }
.mb-1{ margin-bottom: 10px; }
.mb-2{ margin-bottom: 20px; }
.mb-4{ margin-bottom: 40px; }
.mb-8{ margin-bottom: 80px; }

.mr-1{ margin-right: 10px; }

/* Paddings */
.p-1{ padding: 10px; }
.p-2{ padding: 20px; }
.p-4{ padding: 40px; }
.p-8{ padding: 80px; }

.py-2{ padding: 20px 0px; }
.py-4{ padding: 40px 0px; }
.py-1{ padding: 10px 0; }

.pt-0{ padding-top: 0; }
.pt-1{ padding-top: 10px; }
.pt-3{ padding-top: 30px; }
.pt-4{ padding-top: 40px; }
.pt-5{ padding-top: 50px; }

.px-1{ padding: 0 10px; }
.px-2{ padding: 0 20px; }
.px-3{ padding: 0 30px; }
.px-4{ padding: 0 40px; }
.px-8{ padding: 0 80px; }

.pb-1{ padding-bottom: 10px; }
.pb-4{ padding-bottom: 40px; }
.pb-5{ padding-bottom: 50px; }

.pl-2{ padding-left: 20px; }
.pl-4{ padding-left: 40px; }

.pr-2{ padding-right: 20px; }
.pr-4{ padding-right: 40px; }

/* ANIMATIONS */
.grow_on_hover{ overflow: hidden; }
.grow_on_hover > img{ transition: .7s ease; }
.grow_on_hover:hover > img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
